.statusbar-wrapper {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.inspect-portrait {
	height: 8em;
	width: 8em;
}

.inspect-img {
	flex: 1;
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	align-content: space-between;
	justify-content: space-between;

	& p {
		text-align: center;
		text-shadow: 0 0.1em 0.2em rgba(0,0,0,0.8);
		margin: 0;
	}
}
.inspect-header {
	margin-bottom: auto;
	font-size: 1.2em;
}
.inspect-footer {
	margin-top: auto;
	font-size: 0.8em;
}


.abilities-wrapper {
	border: solid 3px #535353;
	border-radius: 8px;
	padding: 6px;
	display: flex;
	height: fit-content;
	flex-direction: row;
	align-self: center;

	 & > .ability {
		 flex: 1;
		 height: 6em;
		 width: 6em;
		 box-sizing: border-box;
		 display: flex;
		 align-content: center;
		 justify-content: center;
		 margin-right: 6px;
		 position: relative;

		 border-width: 3px;
		 border-style: solid;
		 border-radius: 8px;

		 background-color: #161616;
		 background-position: center center;
		 background-repeat: no-repeat;
		 background-size: cover;

		 cursor: pointer;
		 transition: 0.1s;

		 &:hover {
			 transform: scale(1.08);
		 }

		 &:last-child {
			 margin-right: 0;
		 }
		 & > p {
			 color: inherit;
			 text-shadow: 0 0.1em 0.2em black;
		 }
	 }
}

.ability > .tool-tip {
	visibility: hidden;
	opacity: 0;
	display: block;
	position: absolute;
	bottom: 8.5em;
	background-color: rgba(0,0,0,0.9);
	font: 0.7em 'Roboto Mono', monospace;
	font-weight: 500;
	border-radius: 0.2em;
	color: white;
	padding: 0.6em;
	box-sizing: border-box;
	transition: 0.1s ease;
	transform: scale(0.0);
}

.ability:hover > .tool-tip {
	visibility: visible;
	opacity: 1;
	transform: scale(1.0);
}
