<div class="statusbar-wrapper">

	<div class="inspect-portrait">
		<div class="inspect-img" [style.background-image]="'url(assets/' + activeObject.imgUrl + ')'">
			<div class="inspect-header" [style.font-size.px]="">
				<p>{{activeObject.nameLong}}</p>
			</div>
		</div>
	</div>

	<div>
		<p>{{activeObject.nameShort}}</p>
	</div>

	<div class="abilities-wrapper" *ngIf="activeObject.abilities.length > 0">
		<div class="ability" *ngFor="let ability of activeObject.abilities">
			<button
				(click)="ability.execute()"
				[style.background-image]="'url(assets/' + ability.imgUrl + ')'"
			>
				{{ ability.name }}
			</button>
		</div>
	</div>
</div>


