<section class="infobar-top-wrapper">
  <div class="ui-widget">
		<table>
			<thead>
				<tr>
					<th>Flawed</th>
					<th>Chipped</th>
					<th>Normal</th>
					<th>Large</th>
					<th>Perfect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td *ngFor="let sizeChance of gameSession.gemChances.sizes">
						<span>
							{{ sizeChance | percentString }}
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th *ngFor="let gemType of gameSession.gemChances.types | keyvalue">
						<span>
							{{ gemType.key | titlecase }}
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td *ngFor="let gemType of gameSession.gemChances.types | keyvalue">
						<span>
							{{ gemType.value | percentString }}
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
