<section class="infobar-top-wrapper">
  <div class="ui-widget">
		<table>
			<thead>
				<tr>
					<th>Flawed</th>
					<th>Chipped</th>
					<th>Normal</th>
					<th>Large</th>
					<th>Perfect</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td *ngFor="let sizeChance of gameSession.gemChances.sizes">
					{{ sizeChance | percentString }}
				</td>
			</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th *ngFor="let gemType of gameSession.gemChances.types | keyvalue">
						{{ gemType.key | titlecase }}
					</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td *ngFor="let gemType of gameSession.gemChances.types | keyvalue">
					{{ gemType.value | percentString }}
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
