section.infobar-top-wrapper {
	display: flex;
	flex-flow: row nowrap;
	margin: 10px;
	width: 100vw;
	justify-content: center;
}

.ui-widget {
	background-color: #222222;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);

	td, th  {
		padding: 0 0.5em;
		text-align: center;
	}
}
