div.ui-wrapper {
	height: 100vh;
	width: 100vw;
	position: relative;
	margin: 0;
	box-sizing: border-box;
	pointer-events: none;

	& > app-ui-infobar-header,
	& > app-ui-infobar-header,
	& > app-ui-infobar-top,
	& > app-ui-sidebar-left,
	& > app-ui-sidebar-right,
	& > app-ui-infobar-bottom {
		pointer-events: all;
	}
}


