<div class="ui-wrapper" style="
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	box-sizing: border-box;

">
	<app-ui-infobar-header [gameSession]="$gameSession"></app-ui-infobar-header>
	<app-ui-infobar-top [gameSession]="$gameSession"></app-ui-infobar-top>
  <app-ui-sidebar-left [gameSession]="$gameSession"></app-ui-sidebar-left>
  <!-- app-ui-sidebar-right [gameSession]="$gameSession"></app-ui-sidebar-right -->
  <app-ui-infobar-bottom [gameSession]="$gameSession"></app-ui-infobar-bottom>
</div>
